.app-container {
    color: white;
    font-size: 2em;
    overflow: hidden;
    max-height: 100vh;
    background-image: url('../assets/images/dining-hall-2.png');
    background-position: center;
    background-size: cover;
}

.panel-container {
    height: 100vh;
}

// Question Panel at a hidden state
.question-panel {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.panel {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

ul {
    list-style: none;
}

.question-result {
    font-size: 2em;
}

#snape {
    position: absolute;
    bottom: -1000px;
    right: 0px;

    img {
        height: 7em;
    }
}